/*Resume*/
#resumeHeading{
    text-align: center;
    color: white;
}

body {
    background-color: #1E2019;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#dashItems {
    list-style-type: none;
    margin: 0;
    padding-left: 19%;
    overflow: hidden;
    background-color: #333333;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.items {
    float: left;
    margin: 0 5em;
}

.items
a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.items
a:hover {
    background-color: #35435A;
    font-size: larger;
}

#portrait{
    border-radius: 10px;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    text-align: center;
    border: 5px solid #35435A;
}
/*Projects*/
#airdocPic{
    border-radius: 10px;
    display: block;
    width: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#airdocText{
    text-align: center;
}

#constellisText{
    text-align: center;
}

#constellisPic{
    display: block;
    width: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

#todayshowVid{
    display: block;
    margin: 0 auto;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 420px;
    height: 315px;
}

#projectHeader{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
/*Contact*/
#emailPic{
    padding-top: 2%;
    padding-left: 46.5%;

}

#linkedIn{
    vertical-align: top;
    padding-left: 46.3%;
}

#linkedInText{
    text-align: center;
}

#emailText{
    text-align: center;
}

#nashvillePic{
    border-radius: 10px;
    display: block;
    width: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#beanPic{
    border-radius: 10px;
    display: block;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}