@media only screen and (max-width: 400px){
    .items
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 8px;
        text-decoration: none;
        position: static;
    }
    .items {
        float: left;
        margin: 0 3em;
    }
    #airdocPic{
        border-radius: 10px;
        display: block;
        width: 25%;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: static;
    }



}

@media only screen and (max-width: 800px){
    .items
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        position: static;
    }
    .items {
        float: left;
        margin: 0 4em;
    }
    #airdocPic{
        border-radius: 10px;
        display: block;
        width: 20%;
        margin-top: 4%;
        margin-bottom:45%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: static;
    }

}